@font-face {
    font-family: Gotham;
    src: url(res/fonts/gotham.ttf);
}

@font-face {
    font-family: College;
    src: url(res/fonts/TypoCollegeDemo.otf);
}

body {
    background-color:#181818;
    font-family:Gotham, sans-serif;
    overflow:hidden;
    color:rgba(255,255,255,.80);
    margin:0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
/** Custom rules **/

.screen {
   /*  background-color:#181818;*/
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
}

/** General rules **/

.transitions {
    /** Transitions **/ 
    -o-transition:.25s;
    -ms-transition:.25s;
    -moz-transition:.25s;
    -webkit-transition:.25s;
    transition:.25s;
}

.transitions_slow {
    /** Transitions **/ 
    -o-transition:.6s;
    -ms-transition:.6s;
    -moz-transition:.6s;
    -webkit-transition:.6s;
    transition:.6s;
}

.transitions_superslow {
    /** Transitions **/ 
    -o-transition:1s;
    -ms-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
    transition:1s;
}

/** Screens **/

#homescreen {
    z-index:100;
    background: -moz-linear-gradient(top, rgba(85,237,255,1) 0%, rgba(213,250,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(85,237,255,1)), color-stop(100%, rgba(213,250,255,1)));
    background: -webkit-linear-gradient(top, rgba(85,237,255,1) 0%, rgba(213,250,255,1) 100%);
    background: -o-linear-gradient(top, rgba(85,237,255,1) 0%, rgba(213,250,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(85,237,255,1) 0%, rgba(213,250,255,1) 100%);
    background: linear-gradient(to bottom, rgba(85,237,255,1) 0%, rgba(213,250,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55edff', endColorstr='#d5faff', GradientType=0 );
}

#homescreen_interface {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:90;
}

#homescreen_deco {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:85;
}

#worldscreen {
    z-index:70;
}

#scorescreen {
    z-index:40;
}

#gamescreen {
    z-index:10;
}

/** Typography **/

.clean {
    text-decoration:none;
    color:rgba(128,128,128,1);
    margin:0;
}

.college {
    color:rgba(128,128,128,1);
    font-family:'College', sans-serif;
}

#title_r {
    height:40vh;
    width:100vw;
    position:absolute;
    top:0;
    left:0;
    z-index:6;
    background-image:url(res/sprites/cube_r.png);
    background-size:60vw;
    background-repeat:no-repeat;
    background-position: 50% 50%;
    transform:translateX(-100vw) translateY(30vw);
}

#title_y {
    height:40vh;
    width:100vw;
    position:absolute;
    top:0;
    left:0;
    z-index:4;
    background-image:url(res/sprites/cube_y.png);
    background-size:60vw;
    background-repeat:no-repeat;
    background-position: 47.5% 55%;
    transform:translateX(-100vw) translateY(30vw);
    -webkit-transition-delay: 0.15s; /* Safari */
    transition-delay: 0.15s;
}

#title_b {
    height:40vh;
    width:100vw;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    background-image:url(res/sprites/cube_b.png);
    background-size:60vw;
    background-repeat:no-repeat;
    background-position: 45% 60%;
    transform:translateX(-100vw) translateY(30vw);
    -webkit-transition-delay: 0.3s; /* Safari */
    transition-delay: 0.3s;
}

.button {
    width:50vw;
    height:12vw;
    font-family: 'College', sans-serif;
    color:rgba(240,240,240,1);
    background-color:rgba(42,164,255,1);
    border:rgba(23,134,220,1) 1.5vw solid;
    border-radius:1vw;
    text-align:center;
    line-height:12vw;
    margin:auto;
    margin-top:2.5vh;
    font-size:6vw;
    opacity:0;
}

#sensitive_area {
    position:absolute;
    width:100vw;
    height:90vh;
    top:10vh;
    left:0;
    z-index:4;
}

#game_canvas {
    position:absolute;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    z-index:11;
}